p {
    width:75% ;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 25px; 
    padding: 35px;
}


p img {
    width: 150px;
}

img:hover {
    width: 185px;
    border: 1px solid red;
    box-shadow: 4px 5px 3px grey;
    border-radius: 50%;
}

.different {
    border: 3px solid lightsalmon;
    width: 40%;
    box-shadow: 3px 4px 4px rgb(143, 136, 136); 
    background-color: rgb(219, 200, 177);
}

#sample1 {

}
